@font-face {
  font-family: title-font;
  src: url(../font/ja-jp.ttf);
}

@font-face {
  font-family: content-font;
  src: url(../font/Nunito-Light.ttf);
}

body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../image/background_2.jpg);
  background-attachment: fixed;
  color: rgb(222, 222, 222);
}

i {
  font-size: 0.8em;
}

/* styling header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  transition: 0.6s;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header-black {
  background-color: rgba(0, 0, 0, 1);
  transition: 0.6s;
}

#logo {
  width: 150px;
}

nav {
  display: flex;
  gap: 50px;
  font-family: title-font;
}

header nav,
header img {
  margin: 0px 30px;
}

a:link {
  text-decoration: none;
  color: rgb(222, 222, 222);
}

a:visited {
  color: rgb(222, 222, 222);
}

a:hover {
  filter: brightness(80%);
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  gap: 100px;
  font-family: content-font;
  font-size: 0.9em;
}

#featured {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0px 20px 20px 20px;
}

h1 {
  margin: 0px;
  text-align: center;
  font-family: title-font;
  font-size: 2.2em;
}

h2 {
  margin: 0px;
  text-align: center;
  font-family: title-font;
}

p {
  text-align: justify;
  margin: 0px;
}

.second-content,
.third-content,
.fourth-content {
  display: flex;
  align-items: center;
}

.second-content figure,
.third-content figure,
.fourth-content figure {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.second-content article,
.third-content article,
.fourth-content article {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  gap: 30px;
  padding: 40px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.second-content figcaption,
.third-content figcaption,
.fourth-content figcaption {
  text-align: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  width: auto;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5px 10px;
  margin-top: -30px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* first content */
.first-content > article {
  width: 100%;
  padding-top: 45vh;
  padding-bottom: 45vh;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/main_image_1_resize.jpg);
  background-size: cover;
}

.first-content > article > p {
  margin: 0px 50px;
}

.first-content aside {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.first-content aside a:nth-child(1) img {
  height: 35px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.first-content aside a:nth-child(2) img,
.first-content aside a:nth-child(3) img {
  height: 35px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

aside > img:hover {
  filter: brightness(80%);
  cursor: pointer;
}

/* second content */
.second-content figure img {
  width: 100%;
}

/* third content */
.third-content {
  gap: 20px;
}

.third-content figure img {
  width: 100%;
}

.third-content figure:nth-child(2) {
  margin-left: -120px;
}

.third-content figure:nth-child(2) img {
  border-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

/* fourth content */
.fourth-content article {
  max-width: 60%;
}

.fourth-content img {
  width: 100%;
}

/* fifth content */
.fifth-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.map {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.fifth-content figure img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.1s;
}

.fifth-content figure img:hover {
  transform: scale(1.2);
}

.fifth-content figure {
  margin: 0px;
}

.fifth-content figcaption {
  text-align: center;
  margin-top: 10px;
}

.img-clicked {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: ease 1s;
}

.img-clicked img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  border-radius: 5px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.img-clicked span {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 30px;
}

.active {
  display: flex;
}

/* About Me */
.about-me {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.about-me p {
  width: 350px;
}

h3 {
  margin: 0;
}

.name p {
  text-align: center;
  font-size: 1.2em;
}

.name h2 {
  font-size: 1.5em;
}

.social-logo {
  display: flex;
  align-items: center;
  gap: 30px;
}

.social-logo img {
  width: 25px;
  cursor: pointer;
}

.profile-photo img {
  border-radius: 50%;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

footer {
  padding: 20px 0px;
  text-align: center;
  font-family: content-font;
}

@media screen and (max-width: 900px) {
  .third-content figure:nth-child(2) {
    margin-left: -30px;
  }
}

@media screen and (max-width: 555px) {
  nav {
    gap: 20px;
  }

  .second-content,
  .third-content,
  .fourth-content {
    flex-direction: column;
    gap: 20px;
  }

  .second-content article,
  .third-content article,
  .fourth-content article {
    max-width: 100%;
    padding: 20px;
  }

  .third-content figure:nth-child(2) {
    margin-left: 0px;
  }
}

@media screen and (max-width: 475px) {
  #logo {
    width: 120px;
  }

  nav {
    gap: 10px;
  }

  header nav,
  header img {
    margin: 0px 10px;
  }

  .first-content aside {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .about-me p {
    width: 100%;
  }
}
